# **특허와 논문 관측치 개수 비교**
**특허와 논문 각각 최소 50개로 제한했을 때 관측치 갯수**

In [1]:
import pandas as pd 
patent = pd.read_csv('patent_above_100.csv')
pub = pd.read_csv('pub_above_100.csv')

In [2]:
obs = pd.merge(patent, pub, left_on=['nuts', 'period'], right_on=['eu_nuts_id', 'period'], how = 'inner')
obs = obs[['nuts', 'period', 'appln_id', 'pubid']]
obs

     nuts  period  appln_id  pubid
0    AT12       4       774    597
1    AT12       5       994   1309
2    AT12       6      1283    116
3    AT13       4      1134  11735
4    AT13       5      1662  21362
..    ...     ...       ...    ...
664  UKM5       6       414    578
665  UKN0       4       118   3851
666  UKN0       5       155   6627
667  UKN0       6       236    575
668  UKN0       7       384    110

[669 rows x 4 columns]

In [3]:
# check number of unique values in nuts 
print('Number of unique NUTS:', obs['nuts'].nunique())

Number of unique NUTS: 203